body{
    font-family:Helvetica, sans-serif;
    background:white;
    margin:0px auto;
}
.nav{
    width:100%;
}
.upper-nav{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #505050;
    border-bottom: 2px solid #222;
}
.middle-nav{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #454545;
    border-bottom: 2px solid #222;
}
.main{
    padding-top: 10px;
    background-color: #313131;
    height:30px;
    width:70%;
    margin-left:15%;
    border-left:solid 9px #222;
    border-right:solid 9px #222;
}
.reg{
    
}
.reg ul{
  margin:0;
  background:#222;
  list-style-type: none;
  
}
.reg ul li{
  margin-left:20px;
  padding-left: 10px;
  padding-right: 10px;
  float:left;
  border-left:solid 6px #111;
  border-right:solid 6px #111;
  background-color: #505050;
}
.control{
  float:left;
}
.control ul{
  margin:0;
  background:#222;
  list-style-type: none;
}
.control ul li{
  margin-left:20px;
  padding-left: 10px;
  padding-right: 10px;
  float:left;
  border-left:solid 6px #111;
  border-right:solid 6px #111;
  background-color: #505050;
}
